run.sh
init
test
k3sframe
stop.sh
docs/book
bootstrap/.owncloudsync.log
bootstrap/*.db
bootstrap/*.db-shm
bootstrap/*.db-wal
mesos-compose
.dccache
mesos_cli/compose/__pycache__/**/**
.vscode
plugins/*.so
.containername